.contentImmDisplay {
  display: flex;
  flex-direction: column;
}

.buttonAdd {
  margin-top: 2%;
  margin-left: auto;
  margin-right: 2%;
  transition-duration: 0.4s;
  background-color: grey;
  border-radius: 3px;
  border: 2px solid grey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.buttonAdd:hover {
  background-color: white;
}
